{% extends 'base.html' %}

{% block title %}
  <title>Edit Task</title>
{% endblock  %}


{% block content %}

  <div class="container">
    {% if task_obj.task_user == request.user %}
      <h3>Previous task name = {{task_obj}}</h3>
      </br>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="task" placeholder="Enter the edited text" >
        </div>
      </br>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Edit Task</button>
        </div>
      </form>
    {% else %}
      <div class="mb-3 text-center text-danger">
        <h1>Sorry, You are not allowed to do that!</h1>
      </div>
    {% endif %}
  </div>
{% endblock content %}